.column1 {
  padding: 0 0 0 50px; 
  float: left;
  width: 50%;
}

.column3 {
  padding: 0 0 0 15px; 
  float: left;
  width: 50%;
}

.column5 {
  padding: 0 0 0 15px; 
  float: left;
  width: 30%;
}

.column55 {
  padding: 0 0 0 15px; 
  float: left;
  width: 50%;
}

.column33 {
  padding: 28px 0 0 0; 
  float: left;
  width: 50%;
}


.column333 {
  padding: 25px 0 0 15px; 
  float: left;
  width: 50%;
}


.column2 {
  width: 50%;
  float: left;
}

.column22 {
  width: 46%;
  float: right;
}

.column4a {
  width: 40%;
  float: left;
  padding: 0 0 0 15px; 
}


.column4b {
  width: 60%;
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  text-align: center;
}

.center2 {
  text-align: right;
}

.meta{
  font-weight:bold;
  color: #ee2570;
}

.bold{
  font-weight:bold;
}


.lign {
    padding:0 20px 0 20px;
    margin:0 30px 0 30px;
}

.title {
    background-color: #9f2042;
    color : white;
    text-align:center;
    padding: 10px 0 12px 0;
    margin-top:0;
    margin-bottom:0;
    border-radius: 10px;	
    font-weight: bold;
    font-size:21px;
}



.title2 {
    background-color: #9f2042;
    color : white;
    margin-top:0;
    margin-bottom:0;
    text-align:center;
    padding: 11px 0 5px 0;
    border-radius: 10px;	
    font-weight: bold;
    font-style: italic;
    font-size:16px;
}
